<a href="https://colab.research.google.com/github/haiderali2017/my_exploratory_data_analyses/blob/main/Data_Indicator_8_PUBLIC_TRANSPORT_Analysis.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import plotly.express as px
import plotly.graph_objects as go
import numpy as np

In [ ]:
df = pd.read_csv('https://data.smartdublin.ie/dataset/4997223b-13b2-4c97-9e88-cd94c6d35aec/resource/2da5e1ce-2a77-40f8-8d8d-c7f03885ab6b/download/indicator-8-public-transport.csv')

# Data Exploration

In [ ]:
df.head()

,Quarter,Public Transport million trips,Public Transport million trips2,Bus Éireann,Dublin City Bus,Irish Rail,Luas,YoY Public Transport,QoQ Public Transport,%YoY Public Transport,...,Unnamed: 40,Unnamed: 41,Unnamed: 42,Unnamed: 43,Unnamed: 44,Unnamed: 45,Unnamed: 46,Unnamed: 47,Unnamed: 48,Unnamed: 49
0,Q3 07,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Q3 24
1,Q4 07,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,69.1
2,Q1 08,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,9.1
3,Q2 08,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Q3 08,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
df.tail()

,Quarter,Public Transport million trips,Public Transport million trips2,Bus Éireann,Dublin City Bus,Irish Rail,Luas,YoY Public Transport,QoQ Public Transport,%YoY Public Transport,...,Unnamed: 40,Unnamed: 41,Unnamed: 42,Unnamed: 43,Unnamed: 44,Unnamed: 45,Unnamed: 46,Unnamed: 47,Unnamed: 48,Unnamed: 49
70,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
71,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
72,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
73,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
74,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 75 entries, 0 to 74
Data columns (total 50 columns):
 #   Column                           Non-Null Count  Dtype
---  ------                           --------------  -----
 0   Quarter                          69 non-null     object
 1   Public Transport million trips   32 non-null     float64
 2   Public Transport million trips2  59 non-null     float64
 3   Bus Éireann                      59 non-null     float64
 4   Dublin City Bus                  59 non-null     float64
 5   Irish Rail                       59 non-null     float64
 6   Luas                             59 non-null     float64
 7   YoY Public Transport             2 non-null      float64
 8   QoQ Public Transport             58 non-null     float64
 9   %YoY Public Transport            53 non-null     object
 10  %QoQ Public Transport            58 non-null     object
 11  %QoQ Bus Eireann                 58 non-null     object
 12  %QoQ Dub City Bus                58 non-null     object
 13  %QoQ Irish Rail                  58 non-null     object
 14  %QoQ Luas                        58 non-null     object
 15  Unnamed: 15                      0 non-null      float64
 16  Unnamed: 16                      0 non-null      float64
 17  Quarter.1                        69 non-null     object
 18  Bus Éireann.1                    59 non-null     object
 19  Dublin City Bus.1                59 non-null     object
 20  Irish Rail.1                     59 non-null     object
 21  Luas.1                           59 non-null     object
 22  Unnamed: 22                      0 non-null      float64
 23  Unnamed: 23                      0 non-null      float64
 24  Unnamed: 24                      0 non-null      float64
 25  Unnamed: 25                      0 non-null      float64
 26  Unnamed: 26                      0 non-null      float64
 27  Unnamed: 27                      0 non-null      float64
 28  Unnamed: 28                      0 non-null      float64
 29  Unnamed: 29                      0 non-null      float64
 30  Unnamed: 30                      0 non-null      float64
 31  Unnamed: 31                      0 non-null      float64
 32  Unnamed: 32                      0 non-null      float64
 33  Unnamed: 33                      0 non-null      float64
 34  Unnamed: 34                      0 non-null      float64
 35  Unnamed: 35                      0 non-null      float64
 36  Unnamed: 36                      0 non-null      float64
 37  Unnamed: 37                      0 non-null      float64
 38  Unnamed: 38                      0 non-null      float64
 39  Unnamed: 39                      0 non-null      float64
 40  Unnamed: 40                      0 non-null      float64
 41  Unnamed: 41                      0 non-null      float64
 42  Unnamed: 42                      0 non-null      float64
 43  Unnamed: 43                      0 non-null      float64
 44  Unnamed: 44                      0 non-null      float64
 45  Unnamed: 45                      0 non-null      float64
 46  Unnamed: 46                      0 non-null      float64
 47  Unnamed: 47                      0 non-null      float64
 48  Unnamed: 48                      0 non-null      float64
 49  Unnamed: 49                      3 non-null      object
dtypes: float64(37), object(13)
memory usage: 29.4+ KB

# Data Cleaning
1. Removing unnecessary columns
2. Removing missing values
3. Removing duplicate columns
4. Removing trailing / leading spaces in column names
5. Removing '%' from column values

### 1. Removing unnecessary columns

In this step, we are dropping columns that are Unnamed as well as unnecessary.

In [ ]:
df = df.drop(columns=[f'Unnamed: {i}' for i in range(22, 50)], errors='ignore') # dropping all columns that are unnamed
df = df.drop(columns=['Unnamed: 15', 'Unnamed: 16'], errors='ignore') # dropping columns that are not in range

### 2. Removing missing values

In this step, we are removing missing values.

In [ ]:
# Check the number of missing values in each column
missing_values = df.isna().sum()
print(missing_values)
print(df.info())

Quarter                             6
Public Transport million trips     43
Public Transport million trips2    16
Bus Éireann                        16
Dublin City Bus                    16
Irish Rail                         16
Luas                               16
YoY Public Transport               73
QoQ Public Transport               17
%YoY Public Transport              22
%QoQ Public Transport              17
%QoQ Bus Eireann                   17
%QoQ Dub City Bus                  17
%QoQ Irish Rail                    17
%QoQ Luas                          17
Quarter.1                           6
Bus Éireann.1                      16
Dublin City Bus.1                  16
Irish Rail.1                       16
Luas.1                             16
dtype: int64
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 75 entries, 0 to 74
Data columns (total 20 columns):
 #   Column                           Non-Null Count  Dtype
---  ------                           --------------  -----
 0   Quarter                          69 non-null     object
 1   Public Transport million trips   32 non-null     float64
 2   Public Transport million trips2  59 non-null     float64
 3   Bus Éireann                      59 non-null     float64
 4   Dublin City Bus                  59 non-null     float64
 5   Irish Rail                       59 non-null     float64
 6   Luas                             59 non-null     float64
 7   YoY Public Transport             2 non-null      float64
 8   QoQ Public Transport             58 non-null     float64
 9   %YoY Public Transport            53 non-null     object
 10  %QoQ Public Transport            58 non-null     object
 11  %QoQ Bus Eireann                 58 non-null     object
 12  %QoQ Dub City Bus                58 non-null     object
 13  %QoQ Irish Rail                  58 non-null     object
 14  %QoQ Luas                        58 non-null     object
 15  Quarter.1                        69 non-null     object
 16  Bus Éireann.1                    59 non-null     object
 17  Dublin City Bus.1                59 non-null     object
 18  Irish Rail.1                     59 non-null     object
 19  Luas.1                           59 non-null     object
dtypes: float64(8), object(12)
memory usage: 11.8+ KB
None

We are dropping the 'YoY Public Transport' column since it only has 2 values in it. The majority of missing values is harming the rest of the dataset.

In [ ]:
df = df.drop(columns=['YoY Public Transport'], errors='ignore')

In [ ]:
df = df.dropna().reset_index(drop=True)

In [ ]:
df

,Quarter,Public Transport million trips,Public Transport million trips2,Bus Éireann,Dublin City Bus,Irish Rail,Luas,QoQ Public Transport,%YoY Public Transport,%QoQ Public Transport,%QoQ Bus Eireann,%QoQ Dub City Bus,%QoQ Irish Rail,%QoQ Luas,Quarter.1,Bus Éireann.1,Dublin City Bus.1,Irish Rail.1,Luas.1
0,Q3 11,44.0,44.0,1.73,28.01,6.93,7.31,-2.03,-1.80%,-4.40%,-1.80%,-6.10%,-2.10%,-0.20%,Q3 11,"1,734,265","28,006,304","6,927,517","7,312,734"
1,Q4 11,43.7,41.4,1.57,26.08,6.59,7.19,-2.55,-7.00%,-5.80%,-9.50%,-6.90%,-4.80%,-1.70%,Q4 11,"1,569,327","26,083,337","6,594,505","7,185,784"
2,Q1 12,43.2,43.6,1.70,27.81,6.85,7.28,2.20,-1.80%,5.30%,8.50%,6.60%,3.90%,1.30%,Q1 12,"1,702,324","27,806,047","6,849,813","7,278,816"
3,Q2 12,43.2,41.4,1.66,25.71,6.75,7.25,-2.26,-10.10%,-5.20%,-2.50%,-7.50%,-1.50%,-0.30%,Q2 12,"1,659,864","25,712,304","6,746,734","7,254,176"
4,Q3 12,43.8,43.6,1.64,27.64,6.89,7.43,2.23,-0.90%,5.40%,-0.90%,7.50%,2.10%,2.40%,Q3 12,"1,644,481","27,642,452","6,885,962","7,427,313"
5,Q4 12,43.7,45.6,1.71,29.55,6.84,7.53,2.03,10.10%,4.70%,4.10%,6.90%,-0.70%,1.40%,Q4 12,"1,712,196","29,548,028","6,837,058","7,533,495"
6,Q1 13,43.7,43.3,1.60,27.66,6.46,7.57,-2.33,-0.80%,-5.10%,-6.30%,-6.40%,-5.50%,0.40%,Q1 13,"1,604,143","27,661,888","6,463,144","7,566,946"
7,Q2 13,43.7,43.9,1.60,28.22,6.50,7.56,0.57,6.00%,1.30%,-0.40%,2.00%,0.50%,-0.10%,Q2 13,"1,597,119","28,218,750","6,495,813","7,556,148"
8,Q3 13,43.6,43.7,1.61,27.84,6.57,7.72,-0.13,0.30%,-0.30%,0.90%,-1.40%,1.20%,2.20%,Q3 13,"1,612,266","27,836,048","6,570,973","7,719,576"
9,Q4 13,44.2,44.0,1.58,28.36,6.36,7.73,0.29,-3.50%,0.70%,-2.20%,1.90%,-3.20%,0.10%,Q4 13,"1,577,171","28,364,164","6,363,401","7,728,504"
10,Q1 14,44.7,44.8,1.67,28.65,6.50,7.95,0.74,3.40%,1.70%,5.80%,1.00%,2.10%,2.90%,Q1 14,"1,668,201","28,649,677","6,499,788","7,953,712"
11,Q2 14,45.3,45.6,1.81,28.91,6.68,8.16,0.79,3.90%,1.80%,8.40%,0.90%,2.80%,2.60%,Q2 14,"1,807,958","28,909,926","6,682,232","8,161,979"
12,Q3 14,45.3,45.3,1.62,29.05,6.52,8.09,-0.28,3.50%,-0.60%,-10.20%,0.50%,-2.40%,-0.90%,Q3 14,"1,623,389","29,053,060","6,523,730","8,085,303"
13,Q4 14,45.8,45.7,1.49,29.13,6.79,8.25,0.38,3.70%,0.80%,-7.90%,0.30%,4.10%,2.00%,Q4 14,"1,494,414","29,134,385","6,789,597","8,246,840"
14,Q1 15,45.7,45.4,1.30,28.99,6.79,8.35,-0.24,1.50%,-0.50%,-13.00%,-0.50%,0.10%,1.20%,Q1 15,"1,300,795","28,988,323","6,794,328","8,346,560"
15,Q2 15,46.6,46.2,1.15,29.51,6.94,8.57,0.74,1.30%,1.60%,-11.60%,1.80%,2.20%,2.70%,Q2 15,"1,149,977","29,513,179","6,941,469","8,569,295"
16,Q3 15,47.9,47.6,1.25,30.46,7.13,8.74,1.41,5.10%,3.00%,8.30%,3.20%,2.80%,2.00%,Q3 15,"1,245,680","30,462,978","7,134,206","8,738,215"
17,Q4 15,49.0,49.0,1.35,31.67,7.19,8.83,1.46,7.40%,3.10%,8.50%,4.00%,0.80%,1.00%,Q4 15,"1,351,400","31,669,238","7,193,329","8,826,447"
18,Q1 16,49.3,49.3,1.38,31.66,7.64,8.64,0.27,8.60%,0.60%,1.80%,0.00%,6.30%,-2.10%,Q1 16,"1,375,843","31,658,054","7,643,065","8,638,231"
19,Q2 16,49.6,48.6,1.32,31.91,7.54,7.86,-0.68,5.30%,-1.40%,-3.70%,0.80%,-1.30%,-9.10%,Q2 16,"1,324,842","31,913,898","7,540,677","7,855,449"
20,Q3 16,49.8,49.4,1.35,31.53,7.74,8.76,0.75,3.80%,1.50%,2.20%,-1.20%,2.70%,11.50%,Q3 16,"1,354,498","31,533,417","7,741,106","8,757,395"
21,Q4 16,49.7,48.9,1.38,30.68,7.95,8.91,-0.46,-0.20%,-0.90%,2.30%,-2.70%,2.80%,1.80%,Q4 16,"1,384,994","30,677,565","7,954,867","8,913,961"
22,Q1 17,50.9,51.4,1.38,32.90,7.88,9.27,2.50,4.30%,5.10%,-0.30%,7.20%,-0.90%,4.00%,Q1 17,"1,380,948","32,895,569","7,882,484","9,272,888"
23,Q2 17,52.2,51.2,1.00,32.83,8.13,9.26,-0.21,5.30%,-0.40%,-27.90%,-0.20%,3.20%,-0.10%,Q2 17,"995,253","32,829,302","8,134,702","9,261,264"
24,Q3 17,54.8,53.3,1.35,34.10,8.30,9.52,2.04,7.90%,4.00%,35.30%,3.90%,2.00%,2.80%,Q3 17,"1,346,982","34,101,875","8,298,465","9,517,208"
25,Q4 17,55.5,54.4,1.32,35.04,8.41,9.57,1.09,11.10%,2.00%,-1.60%,2.80%,1.40%,0.60%,Q4 17,"1,324,906","35,043,514","8,412,227","9,574,766"

### 3. Removing duplicate columns

After having a detailed look at dataset, it is evident that columns 'Quarter.1' to 'Luas.1' are additional. The values within columns from 'Bus Éireann.1' to 'Luas.1' are the same as earlier columns but the earlier columns are rounded off to millions.

In the next steps, we will remove these additional columns.

In [ ]:
def drop_columns(df, col_name):
  return df.drop(columns=[col_name], errors='ignore')

columns_to_drop = ['Quarter.1', 'Bus Éireann.1', 'Dublin City Bus.1', 'Irish Rail.1', 'Luas.1']

for col in columns_to_drop:
  df = drop_columns(df, col)

### 4. Removing trailing / leading spaces in column names

In this step, we are removing trailing and leading spaces in column names.

In [ ]:
df.columns = df.columns.str.strip()

### 5. Removing '%' from column values

In this step, we are removing % from records since it causes misleading visuals.

In [ ]:
def replace_percentages(df, col_name):
  df[col_name] = df[col_name].replace('%', '', regex=True)

columns_ = ['%YoY Public Transport', '%QoQ Public Transport', '%QoQ Bus Eireann', '%QoQ Dub City Bus', '%QoQ Irish Rail', '%QoQ Luas']

for col in columns_:
  replace_percentages(df, col)

In [ ]:
df

,Quarter,Public Transport million trips,Public Transport million trips2,Bus Éireann,Dublin City Bus,Irish Rail,Luas,QoQ Public Transport,%YoY Public Transport,%QoQ Public Transport,%QoQ Bus Eireann,%QoQ Dub City Bus,%QoQ Irish Rail,%QoQ Luas
0,Q3 11,44.0,44.0,1.73,28.01,6.93,7.31,-2.03,-1.80,-4.40,-1.80,-6.10,-2.10,-0.20
1,Q4 11,43.7,41.4,1.57,26.08,6.59,7.19,-2.55,-7.00,-5.80,-9.50,-6.90,-4.80,-1.70
2,Q1 12,43.2,43.6,1.70,27.81,6.85,7.28,2.20,-1.80,5.30,8.50,6.60,3.90,1.30
3,Q2 12,43.2,41.4,1.66,25.71,6.75,7.25,-2.26,-10.10,-5.20,-2.50,-7.50,-1.50,-0.30
4,Q3 12,43.8,43.6,1.64,27.64,6.89,7.43,2.23,-0.90,5.40,-0.90,7.50,2.10,2.40
5,Q4 12,43.7,45.6,1.71,29.55,6.84,7.53,2.03,10.10,4.70,4.10,6.90,-0.70,1.40
6,Q1 13,43.7,43.3,1.60,27.66,6.46,7.57,-2.33,-0.80,-5.10,-6.30,-6.40,-5.50,0.40
7,Q2 13,43.7,43.9,1.60,28.22,6.50,7.56,0.57,6.00,1.30,-0.40,2.00,0.50,-0.10
8,Q3 13,43.6,43.7,1.61,27.84,6.57,7.72,-0.13,0.30,-0.30,0.90,-1.40,1.20,2.20
9,Q4 13,44.2,44.0,1.58,28.36,6.36,7.73,0.29,-3.50,0.70,-2.20,1.90,-3.20,0.10
10,Q1 14,44.7,44.8,1.67,28.65,6.50,7.95,0.74,3.40,1.70,5.80,1.00,2.10,2.90
11,Q2 14,45.3,45.6,1.81,28.91,6.68,8.16,0.79,3.90,1.80,8.40,0.90,2.80,2.60
12,Q3 14,45.3,45.3,1.62,29.05,6.52,8.09,-0.28,3.50,-0.60,-10.20,0.50,-2.40,-0.90
13,Q4 14,45.8,45.7,1.49,29.13,6.79,8.25,0.38,3.70,0.80,-7.90,0.30,4.10,2.00
14,Q1 15,45.7,45.4,1.30,28.99,6.79,8.35,-0.24,1.50,-0.50,-13.00,-0.50,0.10,1.20
15,Q2 15,46.6,46.2,1.15,29.51,6.94,8.57,0.74,1.30,1.60,-11.60,1.80,2.20,2.70
16,Q3 15,47.9,47.6,1.25,30.46,7.13,8.74,1.41,5.10,3.00,8.30,3.20,2.80,2.00
17,Q4 15,49.0,49.0,1.35,31.67,7.19,8.83,1.46,7.40,3.10,8.50,4.00,0.80,1.00
18,Q1 16,49.3,49.3,1.38,31.66,7.64,8.64,0.27,8.60,0.60,1.80,0.00,6.30,-2.10
19,Q2 16,49.6,48.6,1.32,31.91,7.54,7.86,-0.68,5.30,-1.40,-3.70,0.80,-1.30,-9.10
20,Q3 16,49.8,49.4,1.35,31.53,7.74,8.76,0.75,3.80,1.50,2.20,-1.20,2.70,11.50
21,Q4 16,49.7,48.9,1.38,30.68,7.95,8.91,-0.46,-0.20,-0.90,2.30,-2.70,2.80,1.80
22,Q1 17,50.9,51.4,1.38,32.90,7.88,9.27,2.50,4.30,5.10,-0.30,7.20,-0.90,4.00
23,Q2 17,52.2,51.2,1.00,32.83,8.13,9.26,-0.21,5.30,-0.40,-27.90,-0.20,3.20,-0.10
24,Q3 17,54.8,53.3,1.35,34.10,8.30,9.52,2.04,7.90,4.00,35.30,3.90,2.00,2.80
25,Q4 17,55.5,54.4,1.32,35.04,8.41,9.57,1.09,11.10,2.00,-1.60,2.80,1.40,0.60

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 26 entries, 0 to 25
Data columns (total 14 columns):
 #   Column                           Non-Null Count  Dtype
---  ------                           --------------  -----
 0   Quarter                          26 non-null     object
 1   Public Transport million trips   26 non-null     float64
 2   Public Transport million trips2  26 non-null     float64
 3   Bus Éireann                      26 non-null     float64
 4   Dublin City Bus                  26 non-null     float64
 5   Irish Rail                       26 non-null     float64
 6   Luas                             26 non-null     float64
 7   QoQ Public Transport             26 non-null     float64
 8   %YoY Public Transport            26 non-null     object
 9   %QoQ Public Transport            26 non-null     object
 10  %QoQ Bus Eireann                 26 non-null     object
 11  %QoQ Dub City Bus                26 non-null     object
 12  %QoQ Irish Rail                  26 non-null     object
 13  %QoQ Luas                        26 non-null     object
dtypes: float64(7), object(7)
memory usage: 3.0+ KB

It is observed that there are two columns by the same name as 'Public Transport million trips'. It looks like this column was introduced to have the sum of all types of transportation (Bus Éireann,	Dublin City Bus,	Irish Rail,	Luas).

'Public Transport million trips2' has more accurate sum as compared to 1st one. So, we will stick with 2nd column.

# Data Visualisation

### Bar Chart - Public Transport year wise

In [ ]:
# new DataFrame
df_public_transport = pd.DataFrame()

# split quarter from year (from original dataset) and put it into newly initialized dataframe
df_public_transport['Year'] = df['Quarter'].str.split(' ').str[-1]

# add 20 with year to make it '2012'
df_public_transport.loc[:, 'Year'] = '20' + df_public_transport['Year']

# converting the type of year column from object to int.
#  the purpose is to have correct plots
df_public_transport['Year'] = df_public_transport['Year'].astype(str).astype(int)

# removing duplicate rows
df_public_transport = df_public_transport.drop_duplicates()

# want df_emp to have a fresh index starting from 0
df_public_transport.reset_index(drop=True, inplace=True)

In [ ]:
column_names = ['Public Transport million trips2',	'Bus Éireann',	'Dublin City Bus',	'Irish Rail',	'Luas']

# Loop over the column_names
for col in column_names:
  # Create a list to store the mean values for each quarter
  mean_values = []

  # Iterate over the quarters 2011 to 2017
  for i in range(11,18):

    # Filter the rows where the 'Quarter' column contains the current quarter (i)
    # and extract the corresponding values for columns
    values = df.loc[df['Quarter'].str.contains(str(i), na=False), col]
    # Calculate the mean of the filtered values
    val = values.mean()
    # Append the calculated mean to the mean_values list
    mean_values.append(int(val))

  # Add the list of mean values to a new dataframe 'df_housing' with the sector name as the column name
  df_public_transport[col] = mean_values

In [ ]:
fig = px.line(df_public_transport, x='Year', y=column_names[1:], title='Trend of trips taken by different public transport in Ireland')

# Update the x-axis to show all years
fig.update_xaxes(
    tickmode='array',  # Set tick mode to 'array'
    tickvals=df_public_transport['Year'],  # Specify the tick values (all years)
    ticktext=df_public_transport['Year']   # Specify the tick labels (all years)
)

fig.show()

### Categorical Bar Chart - Public Transport year wise

In [ ]:
years = df_public_transport['Year']

fig = go.Figure()
# 4 bar traces are added to the figure, one for each type of public transport
fig.add_trace(go.Bar(x=years,
                y=df_public_transport[column_names[1]],
                name=column_names[1], # Bus Éireann
                marker_color='rgb(7, 43, 186)'
                ))
fig.add_trace(go.Bar(x=years,
                y=df_public_transport[column_names[2]],
                name=column_names[2], # Dublin City Bus
                marker_color='rgb(186, 7, 7)'
                ))
fig.add_trace(go.Bar(x=years,
                y=df_public_transport[column_names[3]],
                name=column_names[3], # Irish Rail
                marker_color='rgb(7, 186, 31)'
                ))
fig.add_trace(go.Bar(x=years,
                y=df_public_transport[column_names[4]],
                name=column_names[4], # Luas
                marker_color='rgb(61, 219, 211)'
                ))

fig.update_layout(
    title=dict(text='Trend of trips with each type of public transport'),
    xaxis=dict(
        tickmode='array',  # Set tick mode to 'array'
        tickvals=years,    # Specify the tick values (years)
        ticktext=years,     # Specify the tick labels (years)
        tickfont_size=12,
        title=dict(
            text="Years",
            font=dict(
                size=16
            )
        ),
    ),

    yaxis=dict(
        title=dict(
            text="Trips",
            font=dict(
                size=16
            )
        ),
    ),
    legend=dict(
        x=0,
        y=1.0,
        bgcolor='rgba(255, 255, 255, 0)',
        bordercolor='rgba(255, 255, 255, 0)'
    ),
    barmode='group',
    bargap=0.15, # gap between bars of adjacent location coordinates.
    bargroupgap=0.1 # gap between bars of the same location coordinate.
)
fig.show()